body{
	/* font-family: Arial, Helvetica, sans-serif; */
	margin: 0;
}

.container{
	width: 80%;
	margin-left: 10%;
	overflow: hidden;
}

.clr{
	clear: both;
}

header{
	background-color: #008B8B;
	border-bottom: 5px solid #FFF8DC;
}

.nb {
  overflow: hidden;
  background-color: #008B8B;
}

.nb a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dd {
  float: left;
  overflow: hidden;
}

.dd .ddbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nb a:hover, .dd:hover .ddbtn {
  background-color: red;
  color: white;
  text-decoration: none;
}

.dd-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dd-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dd-content a:hover {
  background-color: #ddd;
}

.dd:hover .dd-content {
  display: block;
}

#welcomemsg{
  background-image: url("../img/bg1.jpg");
  min-height: 650px;
	background-size: 100% 100%;
  text-align: center;
	overflow: hidden;
}
#welcomemsg h1{
  padding-top: 300px;
	color: white;
	font-style: italic;
}
#mainbg {
  background-image: url("../img/bg1.jpg");
  min-height: 600px;
	background-size: 100% 100%;
}
footer{
  background-color: #008B8B;
	border-top: 5px solid #FFF8DC;
	color: lightgray;
	text-align: center;
}
